<h1>Update Users</h1>
<br/>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
        Name
      </th>

      <th>
        Email
      </th>

      <th>
        Role
      </th>
      <th>
        status
      </th>

    </tr>
  </thead>
<% @users.each do |u| %>
  <tbody>
    <tr>
      <td>
        <input id="name" name="name" type="text" placeholder="Name" disabled="true" class="today form-control" value=<%=u.name%>  />
        <input id="userId" name="Id" type="hidden" disabled="true" class="today form-control" value=<%=u.id%>  />
      </td>
      <td>
        <input id="email" name="email" type="text" placeholder="Email" disabled="true" class="today form-control" value=<%=u.email%>  />
      </td>
      <td>
        <% selectArray = ["","GA","Employee","Admin"] %>
        <%= select_tag 'project', options_for_select(selectArray,u.role), :disabled => true, :class => "project" %>        
      </td>
      <td>
        <input type="button" class="btn btn-large btn-primary update-project-btn" id="update-project-btn" value="Edit"></input>
        <input type="button" class="btn btn-large btn-danger delete-project-btn" id="delete-project-btn" value="Delete"></input>
      </td>
    </tr>
  </tbody>


<% end %>
</table>
<script>
  $(".update-project-btn").click(function(){
        input =  $(this);
        var todayValue = $("#txtDate").val();
        var role = input.parent().prev().children('select');
        var email = input.parent().prev().prev().children('input');
        var name = input.parent().prev().prev().prev().children('input');
        var hdId = input.parent().prev().prev().prev().children('input[type=hidden]');
        console.log(hdId.val());
        if(input.attr('value') == "Edit"){
          input.attr('value', "Update");
          role.attr('disabled',false);
          email.attr('disabled',false);
          name.attr('disabled',false);
        }
        else{
          dataStr = "name=" + name.val() + "&email=" + email.val() + "&role=" + role.val() + "&id="+ hdId.val();
          $.ajax({
              method: 'POST',
              url: '/updateUser',
              data : dataStr,
              success: function(dt){
                alert(dt);
                role.attr('disabled',true);
                email.attr('disabled',true);
                name.attr('disabled',true);
                input.attr('value','Edit');
              }
          });
        }
      });



      /// Delete Users //
      $(".delete-project-btn").click(function(){
          input = $(this);
          var hdId = input.parent().prev().prev().prev().children('input[type=hidden]');
          dataStr = "id=" + hdId.val();
          $.ajax({
              method: 'POST',
              url: '/deleteUser',
              data : dataStr,
              success: function(dt){
                parents("tr").remove();
                alert(dt);                
              }
          });
      });
</script>